.oc-search-bar {
  --oc-border-radius: 50vh;

  background-color: #fff;
  position: absolute;
  display: flex;
  align-items: center;
  top: 1rem;
  z-index: 20;
  width: calc(100% - 2rem);
  margin: 0 1rem;
  padding-right: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
  border-radius: var(--oc-border-radius);
  max-width: 400px;

  .sc-ion-searchbar-md-h {
    --box-shadow: none;
    border-radius: var(--oc-border-radius);
  }

  &--input {
    --background: transparent;

    padding: 0;

    .searchbar-clear-button {
      --clear-button-color: #666666;
      width: 48px;
      inset-inline-end: 0;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 8px;
        border-left: 1px solid #dadce0;
        height: 28px;
      }
    }
  }

  ion-menu-button {
    --color: #666666;
  }
}

.searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios {
  padding-inline-start: 54px;
}

.searchbar-search-icon.sc-ion-searchbar-ios {
  left: 16px;
}

.searchbar-input.sc-ion-searchbar-md {
  font-size: var(--font-size);
}
