.oc-search-bar {
  --oc-border-radius: 24px;

  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5rem 0.5rem 0 0.5rem;
  width: 400px;
  z-index: 20;

  &--container {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
    border-radius: var(--oc-border-radius);
  }

  &--omnibox {
    --oc-icon-size: 24px;

    display: flex;
    align-items: center;
    // width: calc(100% - 2rem);
    // margin: 0 1rem;
    // padding-right: 8px;

    ion-icon {
      width: var(--oc-icon-size);
      height: var(--oc-icon-size);
    }

    .searchbar-clear-icon.sc-ion-searchbar-md {
      width: var(--oc-icon-size);
    }

    .sc-ion-searchbar-md-h {
      --box-shadow: none;
      border-radius: var(--oc-border-radius);
    }

    ion-menu-button {
      --color: var(--oc-icon-color-secondary);

      padding-right: 8px;
    }
  }

  &--input {
    --background: transparent;

    padding: 0;

    .searchbar-clear-button {
      --clear-button-color: var(--oc-icon-color-secondary);
      width: 48px;
      inset-inline-end: 0;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 8px;
        border-left: 1px solid #dadce0;
        height: 28px;
      }
    }
  }

  &--results {
    --font-size: 13px;

    border-top: 1px solid #e1e1e1;

    mark {
      background-color: transparent;
      color: inherit;
      font-weight: bold;
    }

    &-list {
      background-color: transparent;
      padding-bottom: var(--oc-border-radius);
    }

    &-item {
      --min-height: 38px;

      font-size: var(--font-size);

      > [slot='start'] {
        color: var(--oc-icon-color-secondary);
        margin-inline-end: 19px;
      }

      ion-note {
        color: #70757a;
        font-size: 12px;
      }

      &-extra {
        display: block;
        margin-top: 1px;
      }

      .g {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios {
  padding-inline-start: 54px;
}

.searchbar-search-icon.sc-ion-searchbar-ios {
  left: 16px;
}

.searchbar-input.sc-ion-searchbar-md {
  font-size: var(--font-size);
}
