.oc-search-bar-mockup {
  position: absolute;
  // As the real search bar (SEARCH_BAR_* in config/app.js).
  top: 16px;
  left: 16px;
  right: 16px;
  z-index: var(--oc-searchbar-z-index);
  box-sizing: border-box;
  height: 56px;
  display: flex;
  align-items: center;
  background: var(--mui-palette-background-paper);
  border: 1px solid var(--mui-palette-background-paper);
  border-radius: 28px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.02);

  @media (min-width: 600px) {
    right: auto;
    width: 368px;
  }

  &--icon {
    position: absolute;
    left: 15px;
    color: var(--mui-palette-action-active);
  }
}
