.oc-result-pane {
  --oc-results-sistemas--item-padding: 1em;

  &--header {
    padding-top: var(--oc-details-padding-block);
    padding-left: var(--oc-details-padding-inline);
    padding-right: var(--oc-details-padding-inline);

    // h1 {
    //   margin: 0;
    //   padding: 0;
    //   line-height: 1.5rem;
    //   font-weight: 400;
    //   font-size: 1.125rem;
    // }

    ion-card-subtitle {
      margin-top: 0;
    }

    &-subtitle {
      line-height: 1.25rem;
    }
  }

  &--content {
    font-size: 0.875rem;

    h2 {
      font-size: 1rem;
      font-weight: 500;
      margin: 10px var(--oc-details-padding-inline) 10px var(--oc-details-padding-inline);
      margin: 0;
    }

    hr {
      margin: 0;
      height: 0;
      border-bottom: 1px solid #dadce0;
    }

    ion-list {
      padding: 0;
    }

    .oc-quick-actions {
      padding-top: var(--oc-details-padding-block);
      padding-bottom: var(--oc-details-padding-block);
    }

    .details-container {
      padding: var(--oc-details-padding-block) var(--oc-details-padding-inline);

      & + .details-container {
        padding-top: 0;
      }
    }

    .details-text {
      p {
        font-size: inherit;
        margin-bottom: 1em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    ion-item {
      --min-height: 40px;
      --padding-start: var(--oc-details-padding-inline);

      font-size: inherit;
      line-height: 1.25rem;

      > svg[slot='start'] {
        margin-right: 24px;
      }
    }

    .oc-results-copy-items {
      padding-top: var(--oc-details-padding-block);
      padding-bottom: var(--oc-details-padding-block);

      ion-item {
        > [slot='end'] {
          display: none;
          font-size: 1.125rem;
        }

        &:hover {
          > [slot='end'] {
            display: inline-block;
          }
        }
      }
    }
  }

  .oc-results-sistemas {
    --inner-border-width: 0;

    padding: 8px 0;

    &--sistemas {
      --inner-border-width: 0;
      --padding-top: 16px;
      --padding-bottom: 16px;

      // background-color: hsl(0 0% 95% / 1);
      // padding-inline-start: var(--oc-details-padding-inline);
    }

    &--item {
      // outline: 1px solid red;
      margin-bottom: 0.5em;

      &:last-child {
        margin-bottom: 0;
      }

      &-note {
        font-size: 12px;
      }
    }
  }
}
