.oc-result-pane {
  --oc-results-sistemas--item-padding: 1em;

  &--header {
    padding-inline: var(--oc-details-padding-inline);
  }

  &--content {
    font-size: 0.875rem;

    p {
      font-size: inherit;
      margin-bottom: 1em;
    }

    hr {
      margin: 0;
      height: 0;
      border-bottom: 1px solid #dadce0;
    }

    .oc-quick-actions {
      padding-block: var(--oc-details-padding-block);
    }

    .details-container {
      padding-inline: var(--oc-details-padding-inline);
      padding-block: var(--oc-details-padding-block);
    }

    ion-item {
      --min-height: 40px;
      --padding-start: var(--oc-details-padding-inline);

      font-size: inherit;
      line-height: 1.25rem;
    }

    .oc-results-copy-items {
      ion-item {
        > [slot='start'] {
          margin-inline-end: 24px;
        }

        > [slot='end'] {
          display: none;
          font-size: 1.125rem;
        }

        &:hover {
          > [slot='end'] {
            display: inline-block;
          }
        }
      }
    }
  }

  .oc-results-sistemas {
    padding: 8px 0;

    &--sistemas {
      --inner-border-width: 0;
      --padding-top: 16px;
      --padding-bottom: 16px;

      // background-color: hsl(0 0% 95% / 1);
      // padding-inline-start: var(--oc-details-padding-inline);
    }

    &--item {
      // outline: 1px solid red;
      margin-block-end: 0.5em;

      &:last-child {
        margin-block-end: 0;
      }

      &-note {
        font-size: 12px;
      }
    }

    .cave-system-icon {
      width: 24px;
      height: 24px;

      path {
        stroke: var(--ion-color-primary);
      }
    }
  }
}

.oc-results-tooltip {
}
