.oc-result-pane-sm {
  --oc-result-pane-sm-upper-height: 48px;
  --height: calc(100% + var(--oc-details-padding-block)); // ion-modal
  --background: transparent;

  top: var(--oc-result-pane-sm-upper-height);
  z-index: 100 !important;

  &::part(backdrop) {
    display: none;
  }

  .oc-back-btn {
    position: absolute;
    top: 4px;
    left: 8px;
  }

  .oc-result-pane--card {
    box-shadow: none;
    margin: 0;
    padding-top: 0;
    transition: 0.125s padding-top;

    // &.oc-full-height {
    //   padding-top: calc(56px - 16px);
    // }
  }

  .oc-result-pane--header {
    padding-left: var(--oc-details-padding-inline);
    padding-right: var(--oc-details-padding-inline);
    padding-bottom: 0;
  }
}
