.oc-result-pane {
  --oc-details-padding-inline: 22px;
  --oc-details-padding-block: 10px;

  // color: #202124;
  z-index: var(--oc-result-pane-z-index) !important;

  &--content {
    padding-left: 0;
    padding-right: 0;
  }
}
