.oc-result-pane-sm {
  --height: 100%; // ion-modal
  --background: transparent;

  z-index: 100 !important;

  .oc-back-btn {
    position: absolute;
    top: 4px;
    left: 8px;
  }

  .oc-result-pane--card {
    box-shadow: none;
    margin: 0;
    padding-top: 0;
    transition: 0.125s padding-top;

    &.oc-full-height {
      padding-top: calc(56px - 16px);
    }
  }

  .oc-result-pane--header {
    padding-left: var(--oc-details-padding-inline);
    padding-right: var(--oc-details-padding-inline);
    padding-bottom: 0;
  }
}
