.oc-sistema-history {
  background-color: transparent !important;
  padding: var(--oc-details-padding-block) 0;

  &--icon {
    min-width: var(--oc-details-icon-min-width);
  }

  .MuiAccordionSummary-root {
    padding: 0 var(--oc-details-padding-inline);
    min-height: 40px;
  }

  .MuiAccordionSummary-content {
    margin: 6px 0;
  }

  .MuiAccordionDetails-root {
    padding: 0 var(--oc-details-padding-inline) var(--oc-details-padding-block) calc(var(--oc-details-icon-min-width) + 20px);
  }
}
